// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

// ADDITIONAL FONTS
//"Merriweather", "sans-serif";
//"Marmelad", "Helvetica", "sans-serif";


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Chapaza";
  src: font-url('Chapaza.ttf');
}

// Define fonts for body and headers
$body-font: "Marmelad", "Helvetica", "sans-serif";
$headers-font: "Chapaza", "Helvetica", "sans-serif";

//font-family: 'Marmelad', sans-serif;
//<link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
//font-family: 'Arima Madurai', cursive;
//<link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&display=swap" rel="stylesheet">
//font-family: 'Bellota Text', cursive;
//<link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap" rel="stylesheet">

//font-family: 'Merriweather', serif;
//<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">

//font-family: 'Merriweather', serif;
//<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet">

//<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

//font-family: 'Pacifico', cursive;
