h2 {
  font-size: 1.5rem;
}

.list-category {
  margin-bottom: 1rem;

  a {
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
}

.list-category a:hover{
  border-bottom: 3px solid #EDAF50;
}

#link-contact a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-style: italic;
}

p#link-contact {
    font-size: 12px;
    font-family: 'Lato';
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}
