.event-card {
  max-width: 640px;
  margin: auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  .hour {
    padding: 0px 24px;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: auto;
    margin-top: -6px;
    font-family: 'lato', sans-serif;
  }

  .description {
    flex-grow: 1;

    h5, p {
      margin-bottom: 0;
      font-size: 1.1em;
    }

    p {
      font-size: 0.85em;
      font-weight: 400;
      opacity: 0.8;
      font-family: 'Lato', sans-serif;
    }
  }

  a {
    border: 1px solid $outline-btn-color;
    color: $outline-btn-color;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0px 16px;
    white-space: nowrap;
    transition: .2s ease background-color, .2s ease color;

    &:hover {
      background-color: $outline-btn-color;
      color: white;
    }
  }
}

#link-contact a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  font-style: italic;
}
p#link-contact {
    font-size: 12px;
    font-family: 'Lato';
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 640px) {
  .event-card {
    flex-direction: column;
    text-align: center;

    .description {
      margin: 8px 0;
    }
  }
}


