<div class="container">
  <div class="logo mx-auto d-block my-4">
     <%= image_tag "logo2.svg" %>
  </div>

  <div class="min-height-100">
    <h5 class="text-center mt-4 mb-5">De quoi avez-vous envie ? </h5>
    <% @categories.each do |category| %>
      <div class="list-category text-center">
        <%= link_to category.name, category_events_path(category.slug), style: "border-color: #{category.color};" %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <p id="link-contact">Vous avez un live à nous soumettre ?  <%= mail_to "daily.live@hotmail.com", "Contactez-nous" %></p>
     <%= link_to "https://www.instagram.com/quarantine_live/?hl=fr", target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
  </div>
</div>


