  <div class="container">
    <h1>Les Categories</h1>
      <div class="row mt-3">
        <% @categories.each do |category| %>
          <div class= "col-12 col-md-6 col-lg-3">
              <div class="card-category">
                <%= category.name %>
                <%= link_to "", category_events_path(category) %>
              </div>
          </div>
        <% end %>
      </div>
  </div>
